<h1>タイトル</h1>
<%= @article.title%>

<h1>本文</h1>

<%= @article.body %>

<h1>著者</h1>

<%= @article.author %>

<h2>画像</h2>
<%= attachment_image_tag @article, :image, :fill, 300, 300, format: 'jpeg' %>

<%= link_to "編集" , edit_article_path(@article.id) %>

<%= link_to "投稿一覧" , '/posts' %>
